rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /messages/{document} {
      allow read: if request.auth != null && (request.auth.uid == request.resource.data.recipient_uid || request.auth.uid == request.resource.data.sender_uid);
      allow create: if request.auth != null;
      allow delete: if request.auth != null && request.auth.uid == request.resource.sender_uid;
    }
    match /users/{userId} {
      allow create: if request.auth != null && request.auth.uid == userId;
    }
  }
}