body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-attachment: fixed;
}

@media ( min-width: 800px ) {
    body {
        margin-left: calc(26px);
    }
}

@media ( max-width: 800px ) {
    main {
        margin: 8px;
    }
}